%absolute-img {
	position: absolute;
	z-index: -1;
}

@mixin transform($degree) {
  -webkit-transform: rotate($degree);
     -moz-transform: rotate($degree);
      -ms-transform: rotate($degree);
       -o-transform: rotate($degree);
          transform: rotate($degree);
}

.img-container {
	position: relative;
}

.chalk-line-1 {
	@extend %absolute-img;
    @include transform(-10deg);
    bottom: -80px;
    left: 0;
}

.chalk-line-2 {
	@extend %absolute-img;
    bottom: -50px;
    left: 80px;
}

.angled-left {
	@include transform(45deg);
}

.angled-right {
	@include transform(-45deg);
    top: 30px;
    left: -25px;
}

.chalk-x {
	@extend %absolute-img;
	top: 50px;
	right: -80px
}

.chalk-circle-1 {
	@extend %absolute-img;
	top: 10px;
	left: -50px
}
