%absolute-img {
	position: absolute;
	z-index: -1;
}

.img-container {
	position: relative;
}

.hands-left {
	@extend %absolute-img;
	left: 0;
	top: 35px;
}

.hands-right {
	@extend %absolute-img;
	right: 0;
}

.chalk-line-1 {
	@extend %absolute-img;
	//need to add additional transforms for browser comp
	transform: rotate(-45deg);
	top: 380px;
	right: 70px
}

.chalk-line-2 {
	@extend %absolute-img;
	//need to add additional transforms for browser comp
	transform: rotate(180deg);
	top: 350px;
	right: 50px
}

.chalk-circle-1 {
	@extend %absolute-img;
	//need to add additional transforms for browser comp
	top: 40px;
	right: 200px
}

.chalk-circle-2 {
	@extend %absolute-img;
	//need to add additional transforms for browser comp
    transform: rotate(5deg);
    bottom: -445px;
    left: 170px;
}

.chalk-x {
	@extend %absolute-img;
	//need to add additional transforms for browser comp
	top: 80px;
	right: -50px
}

.moon {
	@extend %absolute-img;
	top: 250px;
	left: 350px;
}

