html, body {
	height: 99%; // ugh try to fix
}

body {
	background-color: $background;
}

.flex-wrap {
	min-height: 100%;
    display: flex;
    align-items: center;
	@media all and (max-width: $min-width) {
    	overflow: hidden; // fixing issue with absolutely placed images
    }
}


.container {
	max-width: 80%;
	margin: 15% auto;
	position: relative; // strictly for image positioning
	@media all and (min-width: $min-width) {
		margin: 5% auto;
		max-width: 70%;
	}
}

header .top {
	position: fixed;
	z-index: 1;
	top: $main-nav-offset;
}

footer .bottom {
	position: fixed;
	z-index: 1;
	bottom: $main-nav-offset;
}

header .left, footer .left {
	left: $main-nav-offset;
}

header .right, footer .right {
	right: $main-nav-offset;
}

.header-box {
	vertical-align: top;
	padding-left: 15px;
	min-width: 30%; // find out why you ddi this lmfaooo
	@media all and (min-width: $min-width) {
		display: inline-block;
	}
	
	@media all and (min-width: $min-padding) {
		padding-left: 50px;
	}
}

.content-box {
	vertical-align: top;
	padding: 25px 15px;
	max-width: 100%;
	display: inline-block;
	@media all and (min-width: $min-width) {
		max-width: 50%;
	}

	@media all and (min-width: $min-padding) {
		padding: 25px 50px;
	}
}

.scroll-indication {
	@media all and (max-width: $min-flex) {
		display: none;
	}
}
