.horizontal-wrap {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}

.works-img {
    flex: 0 0 auto;
    margin: 30px;
    img {
		height: 50%; 
	}
}

