.img-container {
	margin: 0 auto;
	width: 80%;
}

.horizontal-wrap {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
    align-items: center;
}

.works-img {
    flex: 1;

    img {
	    max-height: 400px;
	    margin: 10px 80px;
	}
}

