.img-container {
	margin: 0 auto;
	width: 100%;
}

.horizontal-wrap {
	text-align: center;
	@media all and (min-width: $min-flex) {
		display: flex;
		flex-wrap: nowrap;
		overflow-x: auto;
	    align-items: center;
	    justify-content: space-between;
		-webkit-overflow-scrolling: touch;
	}
}

.works-img {
	margin-top: 20px;
	margin-bottom: 20px;
	@media all and (max-width: $min-flex) {
		img {
			width: 100%;
		}
	}

	@media all and (min-width: $min-flex) {
	    flex: 1;
	    margin-left: 50px;
	    margin-right: 50px;
	    img {
		    max-height: 400px;
		}
	}
}

