$header: 'Work Sans', sans-serif;
$body: 'Space Mono', monospace;
$white: #f7f5de;
$blue: #5400ff;
$red: #e8c5a0;

body {
	background-color: $white;
	border: 2px solid $blue;
}

h1 {
	//color: transparent;
	//-webkit-text-stroke: 2px $blue;
	color: $blue;
	font: 3em $header;
	margin-bottom: 20px;
}

h2 {
	color: $blue;
	font: 1em $header;
	text-transform: uppercase;
}

p {
	color: $blue;
	font: 1rem $body;
}

a {
	color: $blue;
	font: 1rem $body;
}

ul {
	list-style-type: none;
	padding: 0;
}

.right-align {
	text-align: right;
}

.body-title {
	text-transform: uppercase;
	font-size: 0.5em;
	letter-spacing: 0.5em;
	border-bottom: 2px solid $blue;
}

#titulo {
	line-height: 1em;
}

.container {
	margin: 5% auto;
	padding-left: 15%;
	max-width: 80%;
}

.header-box {
	display: inline-block;
	vertical-align: top;
	padding-left: 0 50px;
	max-width: 30%;
}

.outline-box {
	display: inline-block;
	vertical-align: top;
	position: relative;
	max-width: 50%;
	padding: 25px 50px;
	//border: 2px solid $blue;

	img {
		display: none;
		position: absolute;
		z-index: -1;
	    bottom: -75px;
	    right: -90px;
		-webkit-transform: scaleX(-1);
    	transform: scaleX(-1);
	}
}

.bg-img {
	display: none;
	position: absolute;
	z-index: -1;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	top: 0px;
	left: -75px;
}

.circle {
	display: none;
	position: fixed;
	top: 75px;
	left: 100px;
	z-index: -2;
	width: 300px;
	height: 300px;
	background: $red;
	-moz-border-radius: 150px;
	-webkit-border-radius: 150px;
	border-radius: 150px;
}

.triangle {
	display: none;
	position: fixed;
	z-index: -2;
	bottom: 100px;
	right: 50px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 175px 303.1px 175px;
	border-color: transparent transparent $red transparent;
}