$header: 'Work Sans', sans-serif;
$body: 'Space Mono', monospace;
$white: #f7f5de;
$off-white: #f9f9f9;
$blue: #5400ff;
$red: #e8c5a0;

body {
	background-color: $white;
}

@font-face {
  font-family: og-emoji;
  src: url(og-dcm-emoji.ttf);
}

.og {
  font-family: og-emoji, sans-serif;
}

h1 {
	//color: transparent;
	//-webkit-text-stroke: 2px $blue;
	color: $blue;
	font: 3em $header;
	margin-bottom: 20px;
}

h2 {
	color: $blue;
	font: 1em $header;
	text-transform: uppercase;
}

p {
	color: $blue;
	font: 1rem $body;
}

a {
	color: $blue;
	font: 1rem $body;
}

ul {
	list-style-type: none;
	padding: 0;
}

header a, footer a {
	font-family: $header;
}

.right-align {
	text-align: right;
}

.body-title {
	text-transform: uppercase;
	font-size: 0.5em;
	letter-spacing: 0.5em;
	border-bottom: 2px solid $blue;
}

.container {
	margin: 5% auto;
	//padding-left: 15%;
	max-width: 80%;
}

.landing-container {
	margin-top: 100px;
	margin-bottom: 300px;
}

.landing {
	display: inline-block;
	max-width: 50%;
	padding: 100px;
	border: 2px solid $blue;
}

.scroll-ind {
	display: inline-block;
	min-width: 15%;
	max-width: 30%;
}

.scroll-ind p {
	font-size: 3em;
}


.hands-left, .hands-right, .chalk-line {
	position: absolute;
	z-index: -1;
}

.hands-left {
	left: 0;
	top: 35px;
}

.hands-right {
	right: 0;
}

.chalk-line {
	//need to add additional transforms for browser comp
	transform: rotate(-45deg);
	top: 380px;
	right: 70px
}

header .top {
	position: fixed;
	top: 20px;
}

footer .bottom {
	position: fixed;
	bottom: 20px;
}

header .left, footer .left {
	left: 20px;
}

header .right, footer .right {
	right: 20px;
}

.header-box {
	display: inline-block;
	vertical-align: top;
	padding-left: 50px;
	min-width: 30%;
}

.content-box {
	display: inline-block;
	vertical-align: top;
	position: relative;
	max-width: 50%;
	padding: 25px 50px;
	//border: 2px solid $blue;

	img {
		display: none;
		position: absolute;
		z-index: -1;
	    bottom: -75px;
	    right: -90px;
		-webkit-transform: scaleX(-1);
    	transform: scaleX(-1);
	}
}

.bg-img {
	display: none;
	position: absolute;
	z-index: -1;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	top: 0px;
	left: -75px;
}

.circle {
	position: fixed;
	top: 175px;
	left: 350px;
	z-index: -2;
	width: 300px;
	height: 300px;
	background: $off-white;
	-moz-border-radius: 150px;
	-webkit-border-radius: 150px;
	border-radius: 150px;
}

.triangle {
	display: none;
	position: fixed;
	z-index: -2;
	bottom: 100px;
	right: 50px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 175px 303.1px 175px;
	border-color: transparent transparent $red transparent;
}