$header: 'Work Sans', sans-serif;
$body: 'Space Mono', monospace;
$white: #f7f5de;
$off-white: #f9f9f9;
$primary: #2d2c31;
$blue: #5400ff;
$red: #e8c5a0;

$main-nav-offset: 30px;

@import 'image-pos';
@import 'works-layout';

body {
	background-color: $white;
}

h1 {
	//color: transparent;
	//-webkit-text-stroke: 2px $primary;
	color: $primary;
	font: 3em $header;
	margin-bottom: 20px;
}

h2 {
	color: $primary;
	font: 1em $header;
	text-transform: uppercase;
}

p {
	color: $primary;
	font: 1rem $body;
}

a {
	color: $primary;
	font: 1rem $body;
}

ul {
	list-style-type: none;
	padding: 0;
}

header a, footer a {
	font-family: $header;
}

.body-title {
	text-transform: uppercase;
	font-size: 0.5em;
	letter-spacing: 0.5em;
	border-bottom: 2px solid $primary;
}

.container {
	margin: 5% auto;
	//padding-left: 15%;
	max-width: 80%;
	position: relative; // strictly for image positioning
}

header .top {
	position: fixed;
	top: $main-nav-offset;
}

footer .bottom {
	position: fixed;
	bottom: $main-nav-offset;
}

header .left, footer .left {
	left: $main-nav-offset;
}

header .right, footer .right {
	right: $main-nav-offset;
}

.header-box {
	display: inline-block;
	vertical-align: top;
	padding-left: 50px;
	min-width: 30%;
}

.content-box {
	display: inline-block;
	vertical-align: top;
	max-width: 50%;
	padding: 25px 50px;
	//border: 2px solid $primary;
}